* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(30, 38%, 92%);
}

/* desktop design starts here!  */
.container {
  display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

 .image{ 
  height: 450px;
  width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: block;
  }

  .mobile-image{
    display: none;
  }

.text{
  background-color: hsl(0, 0%, 100%);
  margin-left: 0px;
  margin-top: 0px;
  height: 450px;
  width: 300px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 35px;
  padding-top: 30px;
}


p{
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 25px;
  }
  
  h1{
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    margin: 20px 0 20px 0;
    line-height: 32px;
  }
  
  .perfume{
  color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 5px; 
    font-size: 13px;
  }
  
  .price {
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  margin-top: 20px;
  position: relative;
  }
  
  .price .original-price {
  text-decoration: line-through; 
  color:  hsl(228, 12%, 48%); 
  font-size: 13px;
  font-family: sans-serif;
  margin-left: 15px;
  font-weight: 500;
  position: absolute;
  margin-top: 14px;
  }
  
  button{
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  padding: 17px 0 17px 0;
  margin: 30px 0 100px 0;
  width: 240px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  }
  
  button .fa.fa-shopping-cart{
    color: hsl(0, 0%, 100%);
    margin-right: 5px;
    font-size: 15px;
  }
  
  .attribution {
       font-size: 11px; 
       text-align: center;  
  }
  
  .attribution a { 
      color: hsl(228, 45%, 44%); 
  }
  /* desktop design ends here!  */

/* Mobile design starts here! */
@media (max-width: 768px) {
  .container{
    flex-direction: column; 
  }

  .image{
    display: none;
  }

  .mobile-image {
    display: block; 
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .text{
    width: 350px;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 400px;
    padding-left: 25px;
  }
  button{
    width: 90%;
    margin-top: 6%;
  
  }

  br {
    display: none; 
  }

  p{
    white-space: pre;
  }
}

/* Mobile design ends here!  */